button {
    display: inline-block;
    cursor: pointer;
}

input:focus{
    outline: 2px dotted blue;
}
div{
    width: 500px;
    border: solid;
    margin: auto;
    text-align: center;
    background-color: lightcoral;
}

h1{
    font-size: 17px;
}
h1, input{
    margin: 3px;
}

img{
    width: 300px;
}
