button {
    display: inline-block;
    cursor: pointer;
}

input:focus{
    outline: 2px dotted blue;
}
div{
    width: 80%;
    border: solid;
    margin: auto;
    text-align: center;
    background-color: lightcoral;
    overflow: hidden;
}


h1{
    font-size: 17px;
    color: darkblue;
}
h1, input{
    margin: 3px;
}

img{
    max-width: 100%;
}

input[type=text], input[type=button], button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}